@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #ed1944;
  --green: #00a651;
  --gray: #f8f9fb;
}

body {
  @apply text-[--foreground] overflow-x-hidden bg-[--background] text-gray-600;
}
p {
  @apply text-gray-700;
}
input {
  @apply outline-none;
}

.flex-center {
  @apply flex justify-center items-center;
}
.flex-col-center {
  @apply flex flex-col items-center justify-center;
}
.show {
  @apply opacity-100 visible;
}
.hide {
  @apply opacity-0 invisible;
}