@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red: #ed1944;
  --green: #00a651;
  --gray: #f8f9fb;
}

body {
  @apply text-[--foreground] bg-[--background];
}
p {
  @apply text-white;
}
input {
  @apply outline-none;
}

.flex-center {
  @apply flex justify-center items-center;
}
.flex-col-center {
  @apply flex flex-col items-center justify-center;
}
